$base-font:$rubik;

img{
    max-width: 100%;
}
body{font-family: $base-font;
font-weight: $font-weight-light;}

main{
    padding-top:54.5px;
}

@media(min-width:576px){
    main{
        padding-top:57px;
    }
}
@media(min-width:992px){
    main{
        padding-top:77px;
    }
}
h2{
    font-size: 3.6rem;
    line-height: 6.4rem;
}