
$navbar-toggler-bg: $primary;

header{
    
    .navbar-toggler{
        span{
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            background-color: $navbar-toggler-bg;

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }// navbar-toggler-end
    
    .navbar-nav{
        a{
            font-size: 1.4rem;
            line-height: 1.7rem;
            font-weight: $font-weight-medium;
            padding: 10px;
            text-align: center;
        }
    }
    
}// header end


@media(min-width:768px){
    header{
        .navbar-nav{
            li{
                margin-left: 30px;
            }
        }
    }
}

@media(min-width:1200px){
    header{
        .navbar-nav{
            li{
                margin-left: 51px;
            }
        }
    }
}