
$info-bg:$dark-blue;
$info-text:#586C88;
.info-section{
    padding:75px 0 69px;
    background-color: $info-bg;
    p, a{
        color:$info-text;
        font-weight: $font-weight-normal;
        line-height: 2.5rem;
        span{margin-right: 12px;
        font-size:2rem;}
    }
}

