$service-text:$gray-900;
$dark-services-bg:$dark-blue;
.service-section{
    padding:77px 0 80px;
    h2{
        margin-bottom: 4.5rem;
    }
    .service-item{
        margin-bottom: 2.7rem;
        span{
            color:$service-text;
        }
    }
    
    &.dark-services-section{
        background-color: $dark-services-bg;
        h2{
            color:$primary
        }
        
        .read-more{
            font-weight: $font-weight-medium;
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
        
        .service-item-description{
            font-size: 1.6rem;
            line-height: 2.5rem;
            height: 3*2.5rem;
            overflow: hidden;
        }
        
    }  
    //service-conteeent
    .service-content{
        padding: 50px 0;
        ul{
            list-style: none;
        }
    }
    
}

@media(min-width:992px){
   .service-content{
        padding: 107px 0;
        
    }
     
}